
  <!-- Modal Structure -->
  <div id="comment" class="modal">
    <div class="modal-content">
      <h4>Please leave a comment</h4>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="user_name" type="text" class="validate">
                    <label for="first_name">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                <textarea id="comment-textarea" class="materialize-textarea"></textarea>
                <label for="textarea1">Comment</label>
                </div>
            </div>
            <a href="#!" class="modal-close waves-effect waves-green btn" id="comment-submit">Submit</a>
            
        </form>
    </div>
    {{!-- <div class="modal-footer">

    </div> --}}
  </div>