<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src=" https://code.jquery.com/jquery-3.3.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  
    <title>Fake News Times</title>
</head>
<body>
    <nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Fake News Times</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn-large" id="favorites-btn">Favorites</a></li>
      <li><a class="waves-effect waves-light btn-large" id="scrape-btn">Scrape for Articles</a></li>
       <li><a class="waves-effect waves-light btn-large" id="clear-btn">Clear all Articles</a></li>
      
    </ul>
  </div>
</nav>


      <div class="container">
        <div class="row">
          <div class="col s12 m8">
            {{{body}}}
          </div>
        </div>

      </div>
    



<script src="/js/index.js"></script>
</body>
</html>