
body{
     
    font-family: "Cormorant";
}

.container{
    margin-top: 25px;
  
  }
  .comments-section {
    background: lightgray;
    color: black;
    margin-top: 10px;
    padding: 15px;
    width: 30%;
    height: 400px;
    overflow: auto;
    border: 1px solid #ccc;
  }
  
  .comments{
    font-size: 12px;
  }
.card-title a{
    font-size: 35px;
    color: white;
    text-shadow: 3px 3px black;
}

